.before-footer-wrapper {
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-top: 48px;
  @media (max-width: 640px) {
    display: none;
  }
}

#before-footer {
  overflow: hidden;
  aside {
    float: left;
    margin: 0 2.5% 24px;
    width: 15%;
    min-height: 100px;
    img {
      width: 100%;
      max-height: 100px;
    }
  }
}

.footer-bg {
  background: #000;
  padding-bottom: 20px;
  padding-top: 80px;
}

footer {
  h1.logo-main {
    margin: 0;
    float: none;
    margin-bottom: 20px;
    a {
      width: 150px;
      height: 60px;
    }
  }
  #boilerplate {
    p {
      color: #fff;
    }
    li {
      list-style: none;
      font-size: 1.4rem;
      font-family: 'Roboto condensed italic', sans-serif;
      line-height: 1.6rem;
      padding-bottom: 15px;
      text-transform: uppercase;
      a:hover,
      a:visited,
      a:active {
        color: #fff;
      }
      .caret {
        display: none;
      }
    }
  }
}

#cpi-footer {
  color: #fff;
  .media-left {
    min-width: 94px;
    padding-right: 25px;
    text-align: right;
  }

  h5 {
    font-family: @font-family-secondary-condensed;
    font-weight: @headings-font-weight;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    text-transform: uppercase;
  }

  p {
    color: #fff;
    font-family: @font-family-base;
    font-weight: @base-font-weight;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .media {
    margin-bottom: 30px;
  }
  .media.last-media {
    margin-bottom: 10px;
    p {
      margin-bottom: 0;
    }
  }
  .media-body {
    border-left: 3px solid #fff;
    padding: 0 15px;
  }
  .media-body.no-border {
    border-left: none;
  }
  .no-margin-bottom {
    margin-bottom: 0px;
  }

  .footer-copyright {
    background-color: #fff;
    padding: 20px 0;
  }

  .social-links {
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
  }
  .social-links + .social-links {
    margin-left: 10px;
  }

  .copyright {
    color: #000;
    font-family: @font-family-secondary;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu > li {
    display: inline-block;
    font-size: 13px;
    padding-right: 4px;
    margin-bottom: 5px;
  }
  .menu li + li {
    border-left: 3px solid #fff;
    padding-left: 7px;
  }
  .menu > li > a {
    color: #fff;
    font-family: @font-family-secondary-condensed;
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  #cpi-footer .menu>li {
    display: block;
    border-left: 3px solid transparent;
    padding-left: 0px;
  }
  #cpi-footer .menu>li + li {
    border-left: 3px solid transparent;
    padding-left: 0px;
  }
}