/*
 * Styles specifically for single-article pages
 */
.post .entry-content > p:first-child::first-letter { // want this to be as limited as possible
  float: left;
  font-size: 2.1 * ( (@baseFontSize * 1.222 ) * (@baseLineHeight) ) ;
  line-height: 1;
  padding-right: 0.1em;
  padding-top: -0.1em;
  margin-bottom: -0.1em;
}

.wrapper-post {
  .text-description {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 18px;
  }
  p {
    margin-bottom: 35px;
  }
}

.wrapper-buttons {
  .social-media {
    float: left;
    li a img {
      width: 24px;
    }
  }
}

.wrapper-post-serie {
  padding: 0 30px;
}