<!-- Template for access info block -->
<div class="access-info-card">
	<div class="access-info-img-top">
		<div class="access-info-overlay"></div>
		<div class="access-info-tag">Sección</div>
		<img src="#"/>
		<div class="access-info-title">
			<a href="#">Acceso a la Información</a>
		</div>
	</div>
	<div class="access-info-body">
		<ul class="access-info-list">
			<li>
				<a href="#">Ley de transparencia y acceso a la documentación y a la información pública</a>
			</li>
			<li>
				<a href="#">Archivo de documentos públicos</a>
			</li>
			<li>
				<a href="#">Cómo solicitar documentos públicos</a>
			</li>
			<li>
				<a href="#">Enlaces</a>
			</li>
		</ul>
	</div>
</div>